<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVWSFMHJ');</script>
<!-- End Google Tag Manager -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Tanvir Ahmed Sijan",
  "url": "https://sijantanvir.github.io/",
  "description": "Personal academic website of Tanvir Ahmed Sijan.",
  "publisher": {
    "@type": "Person",
    "name": "Tanvir Ahmed Sijan"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Tanvir Ahmed Sijan",
  "url": "https://sijantanvir.github.io/",
  "jobTitle": "Prospective PhD Applicant",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "Jahangirnagar University"
  },
  "sameAs": [
    "https://github.com/sijantanvir",
    "https://www.linkedin.com/in/tanvir-sijan",
    "https://x.com/TanvirSijan",
    "https://scholar.google.com/citations?hl=en&user=DAlfcbkAAAAJ"
  ]
}
</script>
